html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    font-size: 62.5%;
}
body {
    padding: 0;
    margin: 0;
}
body {
    font-size: 14px;
    font-weight: 300;
    background-color: #eff1f3;
}

* {
    box-sizing: border-box;
    border: none;
}

.swiper-pagination-bullet-active {
    background: #fb4748;
}

a {
    text-decoration: none;
}