<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="info.batcloud.wxc.core.mapper.StoreUserFoodMapper">

  <select id="detectChange"
          resultType="java.lang.Long">
    select suf.id
    from store_user_food suf
      left join food f on f.id = suf.food_id
      left join store_user su on su.id = suf.store_user_id
    where
      (suf.food_version != f.version
       or suf.price_increase != if(f.per_increase is not null and f.per_increase > 0, f.per_increase,
                                   if(su.price_increase is not null and su.price_increase > 0, su.price_increase,
                                      #{priceIncrease})))
        and suf.store_user_id in
        <foreach collection="storeUserIdList" open="(" close=")" separator="," item="storeUserId">
          #{storeUserId}
        </foreach> and suf.quote_status='PUBLISH_SUCCESS' and suf.sale=true
    limit ${(page - 1) * pageSize}, ${pageSize}
  </select>
</mapper>